<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BD</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clientes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prestamos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Préstamos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Multas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="libros">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Libros
            </NavLink>
        </div>
    </nav>
</div>

